html
{
    font-family: "Cabin";
    background-color: #fdb705;
}

body
{
    background-color: #009787;
}

.top-bar
{
    background-color: white;
}

.top-bar-left
{
    margin-left: 3%;
}

.top-bar-right
{
    margin-right: 3%;
    padding-left: 2%;
}

ul.menu.horizontal.nav
{
    background-color: white;
    transition: background-color, 0.5s;
    flex-wrap: nowrap;
}

.nav li
{
    font-family: "Cabin", sans-serif;
    flex-wrap: nowrap;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.0);
}

.nav li a
{
    color: #606060;
    transition: color, 0.5s;
}

.nav li:hover a, .nav li:active a
{
    color: white;
    transition: color, 0.5s;
    background-color: #009787;
    transition: background-color, 0.5s;
    text-decoration: underline;
    transition: text-decoration, 0.5s;
}

#contact
{
    color: white;
    background-color: #009787;
}

.contact h2
{
    font-family: "Cabin", sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 25px;
    padding-top: 50px;
    color: white;
    text-align: center;
    margin-top: 55px;
}

.contact-box
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 7%;
}

.contact-box .contact-item
{
    width: 30%;
    margin: 0 3%;
    text-justify: center;
}

.contact-box p
{
    font-family: "Cabin", sans-serif;
    padding-top: 5%;
    font-size: 30px;
    font-weight: 10;
    color: white;
    text-align: center;
}

.contact-box .form
{
    text-align: center;
}

.contact-box .form label
{
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.contact-box .form .input
{
    border: 2px solid white;
    background-color: #009787;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    -webkit-text-fill-color: #009787 !important;
}

input.button
{
    font-size: 20px;
    background-color: #009787;
    padding: 10px 15px;
    margin: 0;
    border: 3px solid white;
    border-radius: 10px;
}

input.button:hover, input.button:active
{
    border-color: #fdb705;
    background-color: #fdb705;
}

#result
{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    color: white;
    width: 60%;
    background-color: #009787;
    padding: 50px;
    max-width: 850px;
    border: 5px solid rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    opacity: 0;
    display: none;
}

#result h1
{
    font-family: "Cabin", sans-serif;  
    font-size: 40px;
    font-weight: 100;
}

@media only screen and (max-width: 1100px)
{
    ul.menu.horizontal.nav
    {
        padding-top: 10px;
        justify-content: center;
        scale: 90%;
    }

    .contact-box .contact-item
    {
        width: 42%;
    }

    .contact h2
    {
        margin-top: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 1000px)
{
    #result h1
    {
        font-size: 30px;
    }

    #result
    {
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 900px)
{
    div.top-bar-left
    {
        width: 60%;
    }

    ul.menu.horizontal.nav
    {
        scale: 75%;
    }

    .contact h2
    {
        margin-top: 20px;
    }

    .contact p
    {
        font-size: 25px;
    }

    #result h1
    {
        font-size: 25px;
    }
}

@media only screen and (max-width: 639px)
{
    ul.menu.horizontal.nav
    {
        padding-top: 10px;
        justify-content: center;
        scale: 65%;
    }
    
    div.top-bar-left
    {
        padding: 0 0;
        text-align: center;
    }

    div.top-bar-left img#logo
    {
        width: 85%;
    }

    .contact-box
    {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .contact-box .contact-item
    {
        width: 90%;
        margin: 0% 5%;
    }

    .top-bar-left
    {
        margin: 0 0;
        padding: 0 0;
    }

    .top-bar-right
    {
        margin: 0 0;
        padding: 0 0;
    }

    .contact h2
    {
        margin-top: 10px;
        padding-top: 30px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 500px)
{
    #result h1
    {
        font-size: 20px;
    }

    #result
    {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        padding: 10%;
    }
}

@media only screen and (max-width: 400px)
{
    .contact p
    {
        font-size: 20px;
    }

    .contact h2
    {
        font-size: 35px;
    }

    #result
    {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 325px)
{
    div.top-bar-right a
    {
        font-size: 10px;
    }
}